<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1-/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Indiana Wing Ride Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<br>
<br>
<span>Indiana Wing</span><br>
<span>Commemorative Air Force</span><br>
{{ date }}
<p>Dear {{ purchaser }},</p>
<p>Thank you for purchasing a ride in the {{ airplane }} on {{ date_of_flight }}. It will be an exciting ride on a
    genuine World War II Warbird. Please arrive at {{airport}} at least one hour before your flight to get prepared and
    to complete any leftover paperwork.</p>
<p>Dress comfortably. There are canopies on the airplane, but it will be breezy. Long pants are recommended. Closed toe
    shoes are required (no sandals). We will provide a headset so that you can hear the pilot communicate with other air
    traffic and for you to talk to the pilot. You can bring your own aviation headset, if you want.</p>

{% if not hold_harmless %}

<div id="holdHarmlessSection">
    {{ HH_text}}
    <span>The rider is the person who must fill out and sign the form. If the rider is between the ages of 12 and 17, the rider's
        parent/legal guardian must authorize that person to take the flight. If you have trouble with the form or for any reason cannot complete the form before you come to the airport, we
        will help you complete the form at the airport.</span>
</div>

{% endif %}

<p>If you have any questions, do not hesitate to call me at 317-584-7852.</p>
<p style="font-family: Bodoni; font-size: 20px">Keep 'em Flying</p>
<span>Col. Jim Olivi</span><br>
<span>Indiana Wing, Commemorative Air Force</span><br>
<span>Rides Coordinator</span><br>
<span>317-584-7852</span><br>
</body>
</html>